
<div id="contact-form" class="p-3 p-lg-5 d-flex align-items-center bg-primary-gradient" id="contact">
<p id="notice"><p>
<p id="errors"></p>

  <div class="w-100">
    <h2>Contact</h2>
  
    <%= form_with model: @contact_message, url: contact_messages_url(@contact_message), method: "post", class: "contact-form",remote: true do |form| %>
      <%= form.text_field :name, size: 50, placeholder: "FULL NAME"  %> 
      <%= form.text_field :email, size: 50, placeholder: "EMAIL" %> 
      <%= form.text_area :message, cols:49, rows:10, placeholder: "MESSAGE"  %>
      <%= form.submit "Submit", class: "btn btn-secondary btn-large" %>
    <% end %>
  </div>
</div>

