
<div id="contact-form" class="d-flex align-items-center bg-primary-gradient" id="contact">
<p id="notice"><p>
<p id="errors"></p>

  <div class="w-100">
    <%= form_with model: @contact_message, url: contact_messages_url(@contact_message), method: "post", class: "contact-form",remote: true do |form| %>
      <%= form.text_field :name, placeholder: "FULL NAME", class: "mb-3"  %> 
      <%= form.text_field :email, placeholder: "EMAIL", class: "mb-3"  %> 
      <%= form.text_area :message, rows:10, placeholder: "MESSAGE" , class: "mb-3"   %>
      <%= form.submit "Submit", class: "btn btn-secondary btn-large" %>
    <% end %>
  </div>
</div>

