  <div class="img-slide">
  <%= image_tag "slider/IMG-7100-scaled.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7266-scaled.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7426-scaled.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7472-scaled.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7467-scaled.jpg" %>
  </div>

