<div class="slider" id="slider01">
  <div class="img-slide">
  <%= image_tag "slider/IMG-7100.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7266.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7426.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7472.jpg" %>
  </div>
  <div class="img-slide">
  <%= image_tag "slider/IMG-7467.jpg" %>
  </div>

</div>
