<div class="testimonial-slide">
  <div class="img-wrapper">
    <%= image_tag "christopher-apodaca.jpg", class: "testimonial-profile mb-2" %>
  </div>
  <div class="content">
    <p>Her thoughtfulness and respectful care for 
      animals makes her one of the most exceptional 
      trainers in the industry. I would highly recommend 
      Tijana both as a trainer as well as a professional 
      care taker</p>

    <h2 class="m-3 section-heading">
      <span class="section-heading-upper">Christopher A.</span>
    </h2>
  </div>
</div>

<div class="testimonial-slide">
  <div class="img-wrapper ">
    <%= image_tag "user-mask.jpg", class: "testimonial-profile mb-2 shrink-shift" %>
  </div>

  <div class="content">
    <p>
      Tijana is amazing with my golden retriever and my roommate’s black lab. She use to train dogs so she’s great with handling my 2 yr. old golden’s craziness. She does a drop-in visit with both our dogs most of the week days. The dogs are always so happy to see her!
    </p>

    <h2 class="m-3 section-heading">
      <span class="section-heading-upper">Claire C.</span>
    </h2>
  </div>
</div>

<div class="testimonial-slide">
  <div class="img-wrapper ">
    <%= image_tag "user-mask.jpg", class: "testimonial-profile mb-2 shrink-shift" %>
  </div>

  <div class="content">
    <p>
      Tijana is our neighbor and a really nice person. She is always out waking her dog and has built up a network of people in our complex that all have dogs. My dog and I were locked out of our apartment once and she went out of her way to help us out! I trust her to take care of my new little puppy and definitely recommend her as loving dog caregiver!
    </p>

    <h2 class="m-3 section-heading">
      <span class="section-heading-upper">Ashley M.</span>
    </h2>
  </div>
</div>


<div class="testimonial-slide">
  <div class="img-wrapper">
    <%= image_tag "user-mask.jpg", class: "testimonial-profile mb-2 shrink-shift" %>
  </div>

  <div class="content">
    <p>
      Tijana is amazing with dogs. Our dogs play at our apartment complex dog park together and she is so good with animals! I’ve seen her babysitting other dogs and they go play at the park and are treated like her own. Definitely recommend you use her to babysit your fur babies!!!
    </p>
    <h2 class="m-3 section-heading">
      <span class="section-heading-upper">Sarah C.</span>
    </h2>
  </div>
</div>

<div class="testimonial-slide">
  <div class="img-wrapper ">
    <%= image_tag "user-mask.jpg", class: "testimonial-profile mb-2 shrink-shift" %>
  </div>
  
  <div class="content">
    <p style="font-size:1em;">
      Tijana is such a great person and dog walker! I was a little nervous at the beginning about leaving my dog with a stranger but Tijana made me feel really comfortable and, right away, I knew I could trust her with Luna. While I was away, Tijana would always keep me updated and would send me photos/videos of Luna playing with other dogs! I felt really relaxed being away because I knew Luna was in great hands. Now, every time Luna sees Tijana, she gets super excited and wants to play with her and her dog.
      Not only is she a great dog sitter, but she’s amazing at training dogs! My dog is really aggressive with other dogs and doesn’t listen to me. I decided to hire Tijana to train my dog and SHE IS AMAZING! My dog has only had one session and she is a completely different dog!
      I am really happy that I found Tijana and i will definitely contact her in the future when I need a dog sitter!
    </p>

    <h2 class="m-3 section-heading">
      <span class="section-heading-upper">Diana Carolina G.</span>
    </h2>
  </div>
</div>

<div class="testimonial-slide">
  <div class="img-wrapper ">
    <%= image_tag "user-mask.jpg", class: "testimonial-profile mb-2 shrink-shift" %>
  </div>
  
  <div class="content">
    <p style="font-size:1em;">
      If I had to pick one person in Austin to take care of my dog Einstein, I would, with absolute zero hesitation, pick Tijana. Tijana has walked Einstein before and has done so in such short notice that she is one of the more reliable people that I've met. If you meet her, you can instantly tell that she loves dogs and that she is a a very compassionate, caring, and trustworthy person. All the ingredients needed to feel at ease when your dog is in someone else's hands.
    </p>

    <h2 class="m-3 section-heading">
      <span class="section-heading-upper">Angel A.</span>
    </h2>
  </div>
</div>


