<main class="bg" id="content">

    <%= render "shared/site-heading" %>
    <%= render "shared/menu" %>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Tell me about your pet</span>
                <span class="section-heading-lower">Contact</span>
              </h2>

              <%= render "shared/contact-form" %>

              <p class="address m-5">
                <hr>
                <em>
                  <strong>8001 Linnie Ln</strong>
                  <br>
                  Austin, TX
                </em>
                <br>
                (737) 243-3030
                <br>

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <%= image_tag "slider/IMG-7068-scaled.jpg", class: "img-fluid rounded about-heading-img mb-3 mb-lg-0" %>
        <%= render "shared/about-snippet" %> 
      </div>
    </section>

</main>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

