<%= video_tag "dogo.mp4", id: "video-autoplay", muted: :muted, autoplay: :autoplay, controls: false, loop: :loop, class: "bg-video" %>
<div class="bg-video-overlay"></div>
<main id="content">
  <%= render "shared/site-heading" %>
  <%= render "shared/menu" %>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <%= image_tag "azra-tijana.jpg", class: "intro-img img-fluid mb-3 mb-lg-0 rounded" %>

        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Animal Care</span>
            <span class="section-heading-lower">Personal Services</span>
          </h2>
            <p class="mb-3">Because every animal is unique and requires personal attention and individual care, I take it upon myself to see that each and every member of the pack is tended to based on their specific needs.</p>
          </p>
          <div class="intro-button mx-auto">
            <%= render "shared/sign-up-button" %>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 mx-auto">

          <div class="cta-inner text-center rounded">
            <h3 class="text-center section-heading mb-5">
              <span class="section-heading-lower">Services</span>
            </h3>
            <div class=" row icon-services mb-5" id="services-list">
              <div class="col-lg-4 text-center">
                <a href="/services#dog-walking">
                  <i class="fas fa-walking"></i> 
                  <h4 class="section-heading mt-3">
                    <span class="section-heading-upper">
                      Dog Walking
                    </span>
                  </h4>
                </a>
              </div>
              <div class="col-lg-4 text-center">
                <a href="/services#animal-training">
                  <i class="fas fa-paw"></i>
                  <h4 class="section-heading mt-3">
                    <span class="section-heading-upper">
                      Animal Training 
                    </span>
                  </h4>
                </a>
              </div>
              <div class="col-lg-4 text-center">
                <a href="/services#animal-sitting">
                  <i class="fas fa-baby-carriage"></i>
                  <h4 class="section-heading mt-3">
                    <span class="section-heading-upper">
                     Animal Sitting 
                    </span>
                  </h4>
                </a>
              </div>
            </div>
            <hr>
            <div class="col-md-9 m-auto" id="slide01-wrap">
              <%= render "shared/slide01-focus" %>
              <%= render "shared/slide01" %>
            </div>
            <%= render "shared/sign-up-button" %>
          </div>
        </div>
      </div>
    </div>
</section>
   
  <section class="page-section cta-bare">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">As animal lovers we tend to think of our pack as family. We love them unconditionally regardless of what others might think. 
              Leaving the house can be challenging not only for a lonely family member but also for those of us 
              hard working parents. Placing the responsibility of protecting, nurturing, and teaching to a stranger can be stressful for both owners and pets. 
              Which is why I have made it my number one priority to establish a completely transparent experience for owners when placed with the honor of 
              part time caretaker of every animal in my care.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section cta mb-0">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">

          <div class="cta-inner text-center rounded mb-5">
              <%= render "shared/slider-testimonial01" %>
          </div>

          <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Tell me about your pet</span>
                <span class="section-heading-lower">Contact</span>
              </h2>
            <%= render "shared/contact-form" %>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>

