<!DOCTYPE html>
<html>
  <head>
    <title>Tijana Walks</title>
    <%= favicon_link_tag asset_path("tijana-walks.ico") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/head" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if is_logged? %>
      <%= render "shared/admin-menu" %>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>

</html>
